* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.desktop-page {
  display: none;
}

:root {
  --ff-text: "Palanquin", sans-serif;
  --ff-title: "Staatliches", sans-serif;
  --ff-desktop: "Roboto", sans-serif;

  --bg-primary: #8e9aaf;
  --bg-secondary: #eff1ff;
  --bg-button: #feeafa;
  --bg-title: #cbc0d3;

  font-size: 62.5%;
  --fs-body: 1.4rem;
  --fs-card: 2rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
}
.mobile {
  min-width: 38.4rem;
  margin: 0 auto;
}
body {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  background: var(--bg-secondary);
}

header {
  background: var(--bg-primary);
  color: #ffffff;

  display: grid;
  place-items: center;
  width: 100%;
}

header h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-heading);
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  text-transform: uppercase;

  background: var(--bg-title);
  margin-bottom: 2.9rem;
  padding: 0.8rem;
  width: 100%;

  text-align: center;
}

header img {
  padding: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem 3.2rem;

  max-width: 38.4rem;
  margin: 0 auto;
}

main p {
  font-family: var(--ff-text);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;

  color: #23053a;
  width: 31.5rem;
  height: 7.5rem;

  margin: 1.4rem 3.6rem 6.3rem;
}

.cards {
  display: grid;
  gap: 3.2rem;
  animation: downtoup 800ms;
}

.cards .card {
  position: relative;
  width: 32rem;
  height: fit-content;
}

.cards .card img {
  width: 32rem;
  border-radius: 3rem;
  object-fit: cover;

  transition: 200ms;
}

.cards .card h2 {
  font-family: var(--ff-title);
  font-size: var(--fs-card);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  position: absolute;

  background-color: var(--bg-button);
  border-radius: 2rem;
  color: #4a4e69;

  padding: 0 2.4rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;

  width: fit-content;
  top: 1.6rem;
  right: 1.6rem;

  animation: uptodown 900ms 350ms backwards;
}


.card img:hover{
  transition: 250ms;
  transform: scale(1.05);
  opacity: 0.8;
}

@keyframes downtoup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes uptodown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
    
  100% {
    opacity: 0.75;
    transform: scale(1);
  }
}

@media (min-width: 1280px) {
  .mobile {
    display: none;
  }

  .desktop-page {
    display: initial;
  }
  .desktop-page {
    width: 128rem;
    height: 80rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30rem;
  }

  main > div > div:nth-child(1),
  main > div > div:nth-child(3) {
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 128rem;
    height: 100rem;
    
    padding: 0;
    margin: 0 auto;
    background: #ffffff;
  }

  header {
    width: 80.7rem;
    height: 100rem; 
  }

  header p {
    width: 27.5rem;
    height: 26.2rem;

    margin: 3.2rem 4.8rem 12.5rem;

    font-family: var(--ff-desktop);
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;

    color: #ffffff;
  }

  main > div > div:nth-child(1) > img,
  main > div > div:nth-child(3) > img,
  main > div > div:nth-child(5) > img {
    width: 22rem;
    border-radius: 2rem;
  }

  main > div > div:nth-child(2) > img,
  main > div > div:nth-child(4) > img,
  main > div > div:nth-child(6) > img {
    width: 22rem;
    border-radius: 2rem;
  }

  .cards {
    display: grid;
    grid-template-areas: "A B E" "D B F" "D C F";
    gap: 3.2rem;
    padding: 8.4rem 8.1rem ;
  }

  main > div > div:nth-child(1) {
    grid-area: A;
  }

  main > div > div:nth-child(2) {
    grid-area: B;
  }

  main > div > div:nth-child(3) {
    grid-area: C;
  }

  main > div > div:nth-child(4) {
    grid-area: D;
  }

  main > div > div:nth-child(5) {
    grid-area: E;
  }

  main > div > div:nth-child(6) {
    grid-area: F;
  }

  .card h2 {
    top: 7rem;
    right: 7rem;

    width: 80rem;

    font-size: 15rem;
  }
  .footer{
    width: 59.2rem;
    height: 2.8rem;
  
  
  
    font-family: var(--ff-text);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    
    text-align: center;
    
    color: #4A4E69;

  }
  .footer span{
    font-weight: bold;
  }
}
